.d-dosen{
	width: 40%;
	background-color: #FFFF;
	float: left;
	padding: 10px 10px 10px 10px;
}

.d-mahasiswa{
	width: 40%;
	background-color: #FFFF;
	float: right;
	padding: 10px 10px 10px 10px;
}

.icon-user{	
	width: 30%;
	float: left;
	margin-top: 40px;
}

.data-user{	
	width: 70%;
	display: table;
	margin: 0 auto;
}


.fa-user-circle{
	float: left;	
}

.jumlah-dosen{
	font-size: 100px;
}