.d-dosen{
	width: 40%;
	background-color: #FFFF;
	float: left;
	padding: 10px 10px 10px 10px;
}

.d-mahasiswa{
	width: 40%;
	background-color: #FFFF;
	float: right;
	padding: 10px 10px 10px 10px;
}

.icon-user{	
	width: 30%;
	float: left;
	margin-top: 40px;
}

.data-user{	
	width: 70%;
	display: table;
	border-radius: 10px;
	margin: 0 auto;
}

.fa-user-circle{
	float: left;	
}

.jumlah-dosen{
	font-size: 100px;
}
.info{
	width: 100%;
	height: 100%;
	margin-bottom: 120px;
}

.ipk{	
	width: 47%;	
	background-color: #7784E9;
	color: white;
	float: left;
	font-size: 50px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;	
}

.sks{	
	width: 47%;
	color: white;
	background-color: #7784E9;
	float: right;
	font-size: 50px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;	
}
