.dosen-page{
	background-color: #FFFF;
}

#dosen {
  font: 16px/1.5 "Lato", sans-serif;  
  border-collapse: collapse;
  width: 100%;
}

#dosen td, #dosen th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#dosen tr:nth-child(even){background-color: #f2f2f2;}

#dosen tr:hover {background-color: #ddd;}

#dosen th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #5564D6;
  color: white;
}
