@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;  
}

.link{
  color: black;  
}

body {
  font: 16px/1.5 "Lato", sans-serif;
}

.logo{
	width: 170px;
}

ul {
  list-style: none;
}
.container{
	width: 100%;
}
/* Header Style */
.page-header {
  position: fixed;
  margin :0;
  padding: 0;
  height: 100%;
  overflow: auto;  
  width: 15%;  
  /*background: #5564D6;*/
  background-image: linear-gradient(#94D4F3, #5564D6) !important;
}

.page-header a, .dropdown-btn {
  padding: 8px 0px 8px 10px;
  text-decoration: none;
  width: 100%;
  /*font-size: 16px;*/
  font-size: 14px;
  color: #FFFEFE;
  display: block;
  border: none;
  background: none;
  transition: 0.3s;
  outline: none;  
  text-align: left;
}

.page-header a:hover, .dropdown-btn:hover {
  background-color: #7784E9;
  color: #FEFEFF;
}

.active {
  background-color: #46A2CF;
  color: #FFFF;
}

.page-logo{
	display: table;
  	margin: 0 auto;	
  	margin-bottom: 20px;
}

.menu-heading{
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-size: 12px;
  margin-top: 12px;
  margin-left: 12px;
  color: #FFFEFE;
}

.fa-icon{
	float-left;
	padding-right: 10px;
}

/* dropdown */
.dropdown-container {
  display: none;
  background-color: #5564D6;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Conten Style */
.page-content{
	margin: 0;	
	background-color: #CAD0FC;
	height: 100%;
	width: 85%;	
	position: absolute;	
	right: 0;
}

.icon{
	width: 40px;
	margin-left: 10px;
}

.content-header{
	width: 100%;
	background-color: #FFFFFF;	  
	display: flex;
  align-items: center;
  padding: 15px 15px 15px 15px;
}

.admin-icon{
	position: absolute;
	display: flex;
  align-items: center;
  right: 0;
  margin-right: 20px;
  
}

.content{
	width: 100%;	
		
	padding: 20px 20px 20px 20px;
}

