/* Warna Background */
body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #94D4F3 !important;
}

/* Login Form */
.login-container{
	width: 400px;
	height: 350px;		
	background: #FEFFFF !important;
	background-size: 100%; 	
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#icon{
	width: 150px;	
}

.user-icon{		
	display: table;
  	margin: 0 auto;	
  	margin-top: -80px;
	
}

.login-form{
	margin-top: 50px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;    
  outline: none;
}

input[type=text]:focus,  input[type=password]:focus {
  border: 3px solid #94D4F3;
}

input[type=submit] {
  width: 100%;
  background-color: #FFAD4E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}